.main-container{
    color: #2C3739;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .bg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container img{
    width: 350px;
    height: 600px;
}

.main-container .box-container{
    width: 850px;
    height: 340px;
    border-radius: 10px;
    background: #074468;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    margin-top: 145px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.main-container .box-container form button{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    color : #fafafa;
    font-size: 18px;
    font-weight: bold;
    background: #2ED17E;
    margin-top: 40px;
    margin-right: 30px;
}

.main-container .box-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container .box-container .box-input{
    display: flex;
    flex-direction: column;
    color : #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.main-container .box-container .box-input input{
    height: 40px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.main-container .box-container .box-input select{
    height: 40px;
    width: 80px;
}